<div class="row">
  <div class="col-xs-12">
    <img
       [src]="receta.imagePath"
       alt="{{ receta.nombre }}"
       class="img-responsive"
       style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <h1> {{ receta.nombre }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
         class="btn-group"
         appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Gestionar receta
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="agregarAlCarritoCompra()" style="cursor: pointer;">Agregar al carrito </a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Editar recipe </a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Borrar recipe </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ receta.descripcion }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <ul class='list-group'>
        <li 
          class="list-group-item"
          *ngFor="let ingrediente of receta.ingredientes">
            {{ ingrediente.nombre }} - {{ ingrediente.cantidad }}
        </li>

      </ul>
  </div>
</div>
