<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nombre">nombre</label>
          <input 
            type="text" 
            id = "nombre" 
            class="form-control"
            name="nombre"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="cantidad">cantidad</label>
          <input 
            type="number" 
            id = "cantidad" 
            class="form-control"
            name="cantidad"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
              class="btn btn-success" 
              type="submit" 
              [disabled]="!f.valid" >{{ editMode ? 'Actualizar' : 'Agregar'}}</button>
          <button *ngIf="editMode"
              class="btn btn-danger"
              type="button"
              (click)="onDelete()">Borrar item</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
</div>